{% extends 'main_pioneer/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" href="{% static 'css/message_from_form.css' %}">
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/message_from_form.js' %}"></script>

<!-- <div class="contact__form-inner">
  <form action="" class="contact__form" method="post">
    {% csrf_token %}
    {{ add_blog }}
    <button class="contact__form-submit btn-type-two" type="submit">Отправить</button>
  </form>
  </div> -->

  <div class="contact-block">
    <div class="container">
      <div class="contact-block__inner">

        <div class="contact-block__title">
          <h2 class="title">Добавление статьи!</h2>
        </div>

        <div class="contact__form-inner">
          <form action="" class="contact__form" method="post">
            {% csrf_token %}
            {{ add_blog }}
            <button class="contact__form-submit btn-type-two" type="submit">Отправить</button>
          </form>

          <div class="contact__form-aside">
            <div class="contact__form-aside-icon">
              <img src="{% static 'img/contacts_ill.png' %}" alt="">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

{% if message == 'blog' %}
<div class="message">
  <div class="message__inner">
    <h2 class="message__title title">Добавил статью!!!!!</h2>
    <div class="message__items">
      Беги! Беги проверяй! :)
    </div>
    <div class="message__btns">
      <button class="message__btn message__btn-accept btn-type-two">Ок</button>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
