{% extends 'main_pioneer/base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/historis.css">
<link rel="stylesheet" href="static/css/message_from_form.css">
<script src="static/js/jquery-3.5.1.min.js"></script>
<script src="static/js/message_from_form.js"></script>
<script src="static/js/historis.js"></script>

    <section class="historis">
      <div class="container">
        <div class="historis__title">
          <h1 class="title">Истории наших клиентов</h1>
        </div>
        <div class="historis__items">
          <div class="historis__item" open="false" >
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom histori-1">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {

                      stroke-width: 15;
                      stroke-miterlimit: 15;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="historis__item" open="false">
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom  histori-2">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      stroke-width: 10;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="historis__item" open="false">
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom  histori-3">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      stroke-width: 10;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="historis__item" open="false">
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom  histori-4">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      stroke-width: 10;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="historis__item" open="false">
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom histori-5">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      stroke-width: 10;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="historis__item" open="false">
            <div class="historis__item-visible">
              <img src="static/img/partner-1.png" alt="">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                egestas lobortis porta. Proin vitae nisl condimentum sapien malesuada luctus non a est.
              </p>
            </div>
            <div class="historis__item-invisible">
              <p>
                Vestibulum sed purus ullamcorper, egestas turpis non, vehicula
                nunc. Duis tincidunt dignissim libero. Maecenas elementum tempus
                dignissim. Aliquam vel felis elit. Donec mattis sapien sit amet
                lacus accumsan volutpat. Quisque varius vestibulum neque at suscipit.
                 Nunc bibendum libero ligula, eu tincidunt dui varius eget.
                 Donec ex ligula, interdum in condimentum et, ultrices id massa.
                 Vestibulum iaculis vehicula risus non dignissim. Lorem ipsum dolor
                 sit amet, consectetur adipiscing elit. Integer ut molestie dolor.
              </p>
            </div>
            <div class="historis__item-bottom  histori-6">
              <div class="historis__item-bottom-line"></div>
              <button class="historis__item-bottom-btn btn-type-one ">
                <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      stroke-width: 10;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M273.4,103.5l141.8,141.8H120.3v21.3h294.9L273.4,408.5l15.1,15.1l160-160c4.2-4.2,4.2-10.9,0-15.1l-160-160
                        L273.4,103.5z" />
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

        </div>
      </div>
    </section>

    {% if message == 'digest' %}
    <div class="message">
      <div class="message__inner">
        <h2 class="message__title title">Дайджест</h2>
        <div class="message__items">
          Спасибо! Вы подписаны на дайджест.
        </div>
        <div class="message__btns">
          <button class="message__btn message__btn-accept btn-type-two">Ок</button>
        </div>
      </div>
    </div>
    {% endif %}

{% endblock %}

{% block form %}
<form action="" class="footer__email-input-inner" method="post">
{% csrf_token %}
{{ form }}
<button type="submit" class="footer__email-submit btn-type-one"></button>
</form>
{% endblock form %}
